$text:white;
$text_header:rgb(228, 228, 228);
$text_main:rgb(228, 228, 228);
$background_text:rgba(0, 0, 0, 0.13);
$background:rgb(143, 143, 143);
$background_footer:rgb(48, 48, 48);
$background_card:rgb(41, 35, 35);

