/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: "Silkscreen";
  src: url("../assets/fonts/Silkscreen-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/RobotoMono-Regular.ttf") format("truetype");
}
body {
  font-family: "Roboto", cursive;
}

#arnaudweb, #role, header {
  font-family: "Silkscreen", cursive;
}

.fadeIn {
  animation: fadeIn 1s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeInVideo {
  animation: fadeIn 1s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}
header {
  color: rgb(228, 228, 228);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header p {
  margin-top: 2vh;
}

#title {
  font-size: 5vw;
}

footer {
  width: 100%;
  background-color: rgb(48, 48, 48);
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
  font-size: 0.8em;
}

a:link {
  color: white;
}

body {
  background-color: rgb(143, 143, 143);
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#backgroundVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  opacity: 0.2;
}

.vcard {
  color: rgb(228, 228, 228);
}

aside {
  position: absolute;
  top: 15vh;
  left: 10vw;
  padding: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.13);
  border-radius: 62% 83% 77% 56%/82% 82% 51% 49%;
}

article {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.13);
  border-radius: 62% 83% 77% 56%/82% 82% 51% 49%;
}

ul {
  list-style-type: none;
}

figure {
  width: 15vw;
  height: 15vw;
}
figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  filter: contrast(150%);
}

#card {
  position: relative;
  width: 60vh;
  height: 30vh;
  cursor: grab;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#recto, #verso {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* transition:1.5s; */
  background-color: rgb(41, 35, 35);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, 0.2549019608);
}

#recto {
  z-index: 1;
  transform: rotateY(0deg);
}

#verso {
  z-index: 0;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  padding: 3%;
}

/* #card:hover #recto {
    z-index: 0;
    transform: rotateY(-180deg);
}

#card:hover #verso {
    z-index: 1;
    transform: rotateY(0deg);
} */
/* ARNAUDWEB */
#arnaudweb {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#arnaudweb > div {
  font-size: 3vw;
}

#arnaud1 {
  z-index: 30;
  position: relative;
}

#arnaud2 {
  z-index: -10;
  position: absolute;
  top: 3px;
  color: rgba(255, 0, 0, 0.76);
}

#arnaud3 {
  z-index: -100;
  position: absolute;
  top: 6px;
  color: rgba(0, 0, 255, 0.733);
}

/* VERSO */
#up, #down {
  width: 100%;
  height: 50%;
}

#up {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
}

#name {
  font-size: 2vw;
  margin-bottom: 5%;
}

#role {
  font-size: 1.2vw;
}

#mail {
  font-size: 1.2vw;
  margin-top: 2%;
}

#down {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

body {
  height: 100vh;
  overflow: hidden;
}

header {
  height: 10vh;
}

main {
  height: 85vh;
}

footer {
  height: 5vh;
}/*# sourceMappingURL=style.css.map */